.items {
    display: block;
    justify-content: center;
    align-content: center;
}

.item {
    display: block;
    align-content: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    width: 300px;
    float: left;
    background-color: white;
    margin-left: 32px;
    border-radius: 10px; 
}